.carddeliverydetails{
    margin-left: 15px;
    margin-right: 15px;
    /* margin-top : 10px;
    margin-bottom: 10px; */
}

.cardprescriptiondetails{
    margin-left: 15px;
    margin-right: 15px;
    /* margin-top : 10px;
    margin-bottom: 10px; */
}

.carddeliverydetailsparent{
    margin-top : 10px;
    margin-bottom: 10px;
}

.cardprescriptiondetailsparent{
    margin-top : 10px;
    margin-bottom: 10px;
}

.carddisclaimer{
    margin-left: 15px;
    margin-right: 15px;
}

.btnsubmit{
    padding-left: 100px;
    padding-right: 100px;
}

.radioOther{
    padding-left : 0;
    padding-right : 0;
}

.radioAcc{
    padding-left : 7px;
    padding-right : 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: crimson;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: white;
}