.carddeliverydetails{
    margin-left: 15px;
    margin-right: 15px;
}

.cardprescriptiondetails{
    margin-left: 15px;
    margin-right: 15px;
}

.carddisclaimer{
    margin-left: 15px;
    margin-right: 15px;
}